<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Register</h4>
                        <p class="card-category">Register your account</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="First Name" type="text" [(ngModel)]="userAddRequest.tbuFirstname" name="firstname">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Last Name" type="text" [(ngModel)]="userAddRequest.tbuLastname" name="lastname">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Mobile Phone" type="text" [(ngModel)]="userAddRequest.tbuMobilePhone" name="mobilephone">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Place Of Birth" type="text" [(ngModel)]="userAddRequest.tbuPlaceOfBirth" name="placeofbirth">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Date Of Birth (yyyy-mm-dd)" type="text" [(ngModel)]="userAddRequest.tbuDateOfBirth" name="dateofbirth">
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Email" type="text" [(ngModel)]="userAddRequest.tbuEmail" name="email">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Password" type="password" [(ngModel)]="userAddRequest.tbuPassword" name="password">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Confirm Password" type="password" [(ngModel)]="userAddRequest.tbuConfirmPassword" name="confirmPassword">
                                    </mat-form-field>
                                </div>
                            </div>
                            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="register();">Register</button>
                            <button mat-raised-button type="button" class="btn btn-danger pull-right" (click)="login();">Login</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>